name: Node Binding (OpenVINO backend / Linux)

on: [push, pull_request]

jobs:

  job:
    runs-on: ubuntu-latest

    steps:
    - name: Git config
      run: |
        git config --global core.autocrlf false
        git config --global core.eol lf

    - name: Install depot_tools
      run: |
        git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git ../depot_tools
        export PATH=$PWD/../depot_tools:$PATH
        gclient

    - name: Install OpenVINO Toolkit
      run: |
        export version="2021.4.582"
        wget https://registrationcenter-download.intel.com/akdlm/irc_nas/17988/l_openvino_toolkit_p_${version}.tgz
        tar -xvzf l_openvino_toolkit_p_${version}.tgz
        cd l_openvino_toolkit_p_${version}
        sudo ./install.sh -s --install_dir /opt/intel --accept_eula

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - uses: actions/checkout@v2
      with:
        ref: main
        path: baseline
        fetch-depth: 0

    - name: Sync code for main branch
      run: |
        export PATH=$PWD/../depot_tools:$PATH
        cd baseline
        cp scripts/standalone.gclient .gclient
        gclient sync

    - name: Generate project for main branch
      run: |
        export PATH=$PWD/../depot_tools:$PATH
        cd baseline
        gn gen out/Release --args="webnn_enable_openvino=true is_debug=false"

    - name: Build for main branch
      run: |
        export PATH=$PWD/../depot_tools:$PATH
        cd baseline
        ninja -C out/Release

    - name: Run 'npm install' command under node folder of main branch
      run: |
        export PATH=$PWD/../depot_tools:$PATH
        cd baseline/node
        npm install --webnn_native_lib_path="../out/Release"

    - name: Run 'npm run build' command under node folder of main branch
      run: |
        export PATH=$PWD/../depot_tools:$PATH
        cd baseline/node
        npm run build --webnn_native_lib_path="../out/Release"

    - name: Run 'npm run report' command under node folder of main branch
      run: |
        export PATH=$PWD/../depot_tools:$PATH
        source /opt/intel/openvino_2021/bin/setupvars.sh
        cd baseline/node
        npm run report || true

    - name: Prepare baseline result file for regression checking
      run: |
        echo "Baseline node test result:"
        cat baseline/node/result.xml
        cp baseline/node/result.xml ${{ github.workspace }}/../baseline.xml

    - uses: actions/checkout@v2
      with:
        path: update
        fetch-depth: 0

    - name: Sync latest code
      run: |
        export PATH=$PWD/../depot_tools:$PATH
        cd update
        cp scripts/standalone.gclient .gclient
        gclient sync

    - name: Generate project for update branch
      run: |
        export PATH=$PWD/../depot_tools:$PATH
        cd update
        gn gen out/Release --args="webnn_enable_openvino=true is_debug=false"

    - name: Build for update branch
      run: |
        export PATH=$PWD/../depot_tools:$PATH
        cd update
        ninja -C out/Release

    - name: Run 'npm install' command under node folder of update branch
      run: |
        export PATH=$PWD/../depot_tools:$PATH
        cd update/node
        npm install --webnn_native_lib_path="../out/Release"

    - name: Run 'npm run build' command under node folder of update branch
      run: |
        export PATH=$PWD/../depot_tools:$PATH
        cd update/node
        npm run build --webnn_native_lib_path="../out/Release"

    - name: Run 'npm run report' command under node folder of update branch
      run: |
        export PATH=$PWD/../depot_tools:$PATH
        source /opt/intel/openvino_2021/bin/setupvars.sh
        cd update/node
        npm run report || true

    - name: Prepare latest result file for regression checking
      run: |
        echo "Latest node test result:"
        cat update/node/result.xml
        cp update/node/result.xml ${{ github.workspace }}/../update.xml

    - name: Regression check
      run: |
        echo "Regression checking..."
        python update/workflow_scripts/regression_check.py ${{ github.workspace }}/../baseline.xml ${{ github.workspace }}/../update.xml